 @font-face {
    font-family: 'cairoBlack';
    src: url('../assets/fonts/Cairo-Black.ttf');
}

 @font-face {
    font-family: 'cairoBold';
    src: url('../assets/fonts/Cairo-Bold.ttf');
}
 @font-face {
    font-family: 'cairoExtraLight';
    src: url('../assets/fonts/Cairo-ExtraLight.ttf');
}
 @font-face {
    font-family: 'cairoLight';
    src: url('../assets/fonts/Cairo-Light.ttf');
}
 @font-face {
    font-family: 'cairoRegular';
    src: url('../assets/fonts/Cairo-Regular.ttf');
}
 @font-face {
    font-family: 'cairoSemiBold';
    src: url('../assets/fonts/Cairo-SemiBold.ttf');
}

 .center{
        text-align: center;   
 }
.tab-badge{
           border-radius: 13px;
    width: 13px;
    height: 13px;
    top: 23%;
    font-size: 11px;
    padding: 0px;
    right: calc(50% - 44px) !important;
    line-height: 13px;
}
   
#tab-t0-1{
    border-right: solid 1px;
    border-left: solid 1px;
}
.app-root{
    font-family: 'cairoRegular';
}
.toolbar-title{
    // font-size: 34px;
    font-size: 17px;

}
.tab-button-text{
    // font-size: 27px;
    // font-size: 13.5px !important;
    font-size: 16px !important;
    line-height: 1.4;
    // font-size: 18.5px !important;
    margin-right: 5px  !important;
    margin-bottom: 0px  !important;
}
.tab-button{
    min-height: 4.3rem !important;
}
.tab-button-icon{
        min-width: 2rem !important;
    font-size: 1.5rem !important;
}
.tab-button .ion-icon{
    min-width: 20px;
    height: 20px;
    font-size: 20px;
}
   
ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-film"] {
        mask-image: url(../assets/imgs/films.gif);
    }
    &[class*="appname-section"] {
        mask-image: url(../assets/imgs/sections.gif);
    }
    &[class*="appname-chat"] {
        mask-image: url(../assets/imgs/chat.gif);
    }
}